.write{
    position:relative;
    padding: 50px 20px 0px 20px;
    max-width: 1000px;
    margin-left: auto; 
    margin-right: auto;
}
.writeImg{
    width:100%;
    height:250px;
    border-radius:10px;
    object-fit: cover;
}

.writeFormGroup{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.writeIcon{
    height:30px;
    width:30px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:gray;
    font-size: 1.1rem;
    cursor: pointer;
}

.writeInput{
    font-size: 2rem;
    border: none;
    padding: 10px;
    width:100%;
    font-family: serif;

}
.writeInput::-webkit-input-placeholder{
    font-family: serif;
}
.writeInput:focus{
    outline:none;
    font-family:serif;
    
}

.writeContent{
    font-size: 1.5rem;
    font-family:serif;
    margin: 20px 0 50px 0;
}

.writeSubmit{
    color:white;
    font-size: 1rem;
    border:none;
    margin-top: 100px;  
    padding: 10px 20px ;
    background-color: rgb(255, 201, 102);
    cursor: pointer;
    transition:background-color .3s
}
.writeSubmit:hover{
    background-color: orange;
}

.writeCategory{
    border:1px solid lightgray;
    padding:10px;
    width:200px;
    height:20px; 
    font-size:1.2rem;
    font-family: serif;
    outline:none;
}
.writeCategoryAdd{
    margin-left: 20px;
    width:70px;
    height:40px;
    background-color: #fff;
    border:1px solid lightgray;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.2rem;
    transition:background-color .3s;
}
.writeCategoryAdd:hover{
    background-color: rgb(232, 232, 232);
}

.catList {
    margin-top: 40px;
}
.catList span{
    margin-right: 20px;
    font-family: serif;
    font-size: 1.3rem;
    color:gray;
    position: relative;
}
.catList span::before{
    content:'';
    display:inline-block;
    height:2px;
    background-color:lightgray;
    position:absolute;
    bottom:-5px;
    left:-3px;
    width:calc(100% + 6px);
}