.singlePost{
    flex:9;
}

.singlePostWrapper{
    padding:20px;
    padding-right:20px;
}

.singlePostImg{
    width:100%;
    max-height:300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 2rem;
    padding-top:20px;
    padding-bottom:20px;
    font-family: 'Lora', serif;
}
.singlePostTitle > span{
    flex:9
}

.singlePostEdit{
   flex:3;
   display: flex; 
   justify-content: end;
   margin-top: 6px;
}

.singlePostIcon{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color:teal;
}
.singlePostIcon:last-child{
    color:tomato;
}
.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family:'Varela Round', Sans-serif;
    color:#b39656;
}
.singlePostContent{
    font-size: 1rem;
    color: #666;
    line-height: 25px;
}

.singlePostContent::first-letter{
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: 600;
}